{{define "body"}}

<h2 style="color: #E7AB5A;font-size: 30px;margin: 20px 0;">Hola {{.Name}},</h2>
<p style="font-size: 14px;margin: 20px 0;">Puede usar el correo y esta contraseña para acceder al sistema:</p>
<p class="password" style="font-size: 20px;margin: 20px 0;background-color: #CED3DB;padding: 20px;display: inline-block;">{{.Password}}</p>
<hr style="border: 0;height: 1px;background: #CED3DB;">
<p style="font-size: 14px;margin: 20px 0;"><strong><a href="https://oasis-dashboard.merkins.io" style="color: inherit;">Acceder »</a></strong></p>
{{end}}